@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';

$button: #4d4d4d;

@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}

.calculator {
  position: relative;
  width: 320px;
  border: 2px solid #47476b;
  padding: 5px;
  background: black;
}

.formulaScreen {
  min-height: 20px;
  font-family: digital;
  font-size: 20px;
  line-height: 20px;
  color: yellow;
  text-align: right;
  vertical-align: text-top;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#display {
  text-align: right;
  color: white;
  font-family: digital;
  font-size: 29px;
  line-height: 35px;
}

button {
  position: relative;
  height: 65px;
  width: 80px;
  background: $button;
  color: white;
  outline: 1px solid black;
  border: none;
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
  cursor: default;
}


button:hover{
  color: black;
  outline: .05em solid grey;
  z-index: 3;
}

.jumbo {
  width: 160px;
}

.love {
  display: flex;
  justify-content: center;
  align-items: center;
}

.love > span {
  font-family: digital;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.love > img {
  width: 24px;
  padding: 10px;
}

.love > span > a {
  text-decoration: none;
  color: black;
}

@media (max-width: 900px){
  .calculator {
    border: 1px;
  }

  .formulaScreen {
    font-size: 18px;
    line-height: 18px;
  }

  .outputScreen {
    font-size: 25px;
    line-height: 30px;
  }

  button {
    font-size: 18px;
  }

  .love > span {
    font-size: 14px;
  }

  .love > img {
    width: 20px;
  }
}