body {
  background: #c2c2d6;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  cursor: default;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}